openapi: 3.0.3
info:
  title: RegattaDesk API
  version: v0.1
  description: |
    OpenAPI specification derived from `pdd/design/detailed-design.md`.
    This spec covers documented v0.1 staff, operator, and public endpoints.
servers:
  - url: https://api.regattadesk.com
    description: Production
  - url: http://localhost:8080
    description: Local development
tags:
  - name: Staff
  - name: Finance
  - name: Operator
  - name: Public
  - name: Jobs
  - name: Auth
paths:
  /oauth/token:
    post:
      tags: [Auth]
      summary: Refresh Auth0 access token
      description: Exchanges a refresh token for a new access token.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OAuthTokenRequest'
      responses:
        '200':
          description: Token refreshed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthTokenResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/v1/athletes:
    get:
      tags: [Staff]
      summary: List athletes
      description: Supports federation ID search.
      security:
        - StaffBearerAuth: []
      parameters:
        - in: query
          name: federationId
          required: false
          schema:
            type: string
            maxLength: 20
            pattern: '^[A-Za-z0-9]+$'
          description: Filter athletes by federation ID.
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/cursor'
      responses:
        '200':
          description: Athletes list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AthleteListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/regattas/{id}/invoices:
    get:
      tags: [Finance]
      summary: List invoices
      security:
        - StaffBearerAuth: []
      parameters:
        - $ref: '#/components/parameters/regattaId'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/cursor'
      responses:
        '200':
          description: Invoices list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/regattas/{id}/invoices/generate:
    post:
      tags: [Finance]
      summary: Generate invoices for unpaid entries
      security:
        - StaffBearerAuth: []
      parameters:
        - $ref: '#/components/parameters/regattaId'
      responses:
        '202':
          description: Invoice generation accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceGenerationResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/regattas/{id}/invoices/{invoiceId}:
    get:
      tags: [Finance]
      summary: Get invoice details
      security:
        - StaffBearerAuth: []
      parameters:
        - $ref: '#/components/parameters/regattaId'
        - $ref: '#/components/parameters/invoiceId'
      responses:
        '200':
          description: Invoice details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v1/regattas/{id}/invoices/{invoiceId}/mark-paid:
    post:
      tags: [Finance]
      summary: Mark invoice as paid
      security:
        - StaffBearerAuth: []
      parameters:
        - $ref: '#/components/parameters/regattaId'
        - $ref: '#/components/parameters/invoiceId'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MarkInvoicePaidRequest'
      responses:
        '200':
          description: Invoice marked paid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v1/regattas/{id}/entries/{entryId}/billing:
    get:
      tags: [Finance]
      summary: Get billing details for an entry
      security:
        - StaffBearerAuth: []
      parameters:
        - $ref: '#/components/parameters/regattaId'
        - $ref: '#/components/parameters/entryId'
      responses:
        '200':
          description: Billing details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntryBillingDetails'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v1/regattas/{id}/operator/sync:
    post:
      tags: [Operator]
      summary: Sync offline operator actions
      description: Accepts queued actions and returns conflict results.
      security:
        - OperatorTokenAuth: []
      parameters:
        - $ref: '#/components/parameters/regattaId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OperatorSyncRequest'
      responses:
        '200':
          description: Sync result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperatorSyncResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'

  /api/v1/regattas/{id}/operator/conflicts:
    get:
      tags: [Operator]
      summary: List pending operator conflicts
      security:
        - OperatorTokenAuth: []
      parameters:
        - $ref: '#/components/parameters/regattaId'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/cursor'
      responses:
        '200':
          description: Conflict list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperatorConflictListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/regattas/{id}/export/printables:
    post:
      tags: [Staff]
      summary: Start async printables export job
      security:
        - StaffBearerAuth: []
      parameters:
        - $ref: '#/components/parameters/regattaId'
      responses:
        '202':
          description: Export job created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExportJobCreated'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/jobs/{jobId}:
    get:
      tags: [Jobs]
      summary: Get async job status
      security:
        - StaffBearerAuth: []
      parameters:
        - $ref: '#/components/parameters/jobId'
      responses:
        '200':
          description: Job status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobStatusResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /public/session:
    post:
      tags: [Public]
      summary: Mint or refresh anonymous public session cookie
      description: Idempotent endpoint for public-session bootstrap.
      security: []
      responses:
        '204':
          description: Session valid or refreshed
          headers:
            Set-Cookie:
              schema:
                type: string
              description: Set when a new or refreshed anon session is issued.

  /public/regattas/{id}/versions:
    get:
      tags: [Public]
      summary: Get public draw/results revisions
      security:
        - PublicSessionCookieAuth: []
      parameters:
        - $ref: '#/components/parameters/regattaId'
      responses:
        '200':
          description: Current revisions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicVersionsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /public/regattas/{id}/events:
    get:
      tags: [Public]
      summary: Subscribe to public SSE events
      description: Returns `snapshot`, `draw_revision`, and `results_revision` server-sent events.
      security:
        - PublicSessionCookieAuth: []
      parameters:
        - $ref: '#/components/parameters/regattaId'
      responses:
        '200':
          description: SSE stream
          content:
            text/event-stream:
              schema:
                type: string
                example: |
                  event: snapshot
                  id: d12-r33
                  data: {"draw_revision":12,"results_revision":33}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          description: Too many concurrent connections
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

components:
  securitySchemes:
    StaffBearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Auth0 JWT for staff roles.
    OperatorTokenAuth:
      type: apiKey
      in: header
      name: X-Operator-Token
      description: QR/PIN-scoped operator token.
    PublicSessionCookieAuth:
      type: apiKey
      in: cookie
      name: regattadesk_public_session
      description: Anonymous public session cookie for non-versioned public endpoints.

  parameters:
    regattaId:
      in: path
      name: id
      required: true
      schema:
        type: string
        format: uuid
    invoiceId:
      in: path
      name: invoiceId
      required: true
      schema:
        type: string
        format: uuid
    entryId:
      in: path
      name: entryId
      required: true
      schema:
        type: string
        format: uuid
    jobId:
      in: path
      name: jobId
      required: true
      schema:
        type: string
        format: uuid
    limit:
      in: query
      name: limit
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
    cursor:
      in: query
      name: cursor
      required: false
      schema:
        type: string

  responses:
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Conflict:
      description: Conflict
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

  schemas:
    ErrorResponse:
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [code, message]
          properties:
            code:
              type: string
              example: VALIDATION_ERROR
            message:
              type: string
            details:
              type: object
              additionalProperties: true

    Pagination:
      type: object
      required: [has_more, next_cursor]
      properties:
        has_more:
          type: boolean
        next_cursor:
          type: string
          nullable: true

    Athlete:
      type: object
      required: [id, first_name, last_name, date_of_birth, gender]
      properties:
        id:
          type: string
          format: uuid
        first_name:
          type: string
        middle_name:
          type: string
          nullable: true
        last_name:
          type: string
        date_of_birth:
          type: string
          format: date
        gender:
          type: string
          enum: [M, F, X]
        club_id:
          type: string
          format: uuid
          nullable: true
        federation_id:
          type: string
          nullable: true

    AthleteListResponse:
      type: object
      required: [data, pagination]
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Athlete'
        pagination:
          $ref: '#/components/schemas/Pagination'

    Invoice:
      type: object
      required:
        - id
        - regatta_id
        - club_id
        - invoice_number
        - total_amount
        - currency
        - status
        - generated_at
      properties:
        id:
          type: string
          format: uuid
        regatta_id:
          type: string
          format: uuid
        club_id:
          type: string
          format: uuid
        invoice_number:
          type: string
        entries:
          type: array
          items:
            $ref: '#/components/schemas/InvoiceEntry'
        total_amount:
          type: number
        currency:
          type: string
          minLength: 3
          maxLength: 3
        status:
          type: string
          enum: [draft, sent, paid, cancelled]
        generated_at:
          type: string
          format: date-time
        sent_at:
          type: string
          format: date-time
          nullable: true
        paid_at:
          type: string
          format: date-time
          nullable: true

    InvoiceEntry:
      type: object
      required: [entry_id, amount]
      properties:
        entry_id:
          type: string
          format: uuid
        amount:
          type: number

    InvoiceListResponse:
      type: object
      required: [data, pagination]
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Invoice'
        pagination:
          $ref: '#/components/schemas/Pagination'

    InvoiceGenerationResponse:
      type: object
      required: [job_id]
      properties:
        job_id:
          type: string
          format: uuid

    MarkInvoicePaidRequest:
      type: object
      properties:
        paid_at:
          type: string
          format: date-time
        paid_by:
          type: string
        payment_reference:
          type: string

    EntryBillingDetails:
      type: object
      required: [entry_id, billing_club_id, payment_status]
      properties:
        entry_id:
          type: string
          format: uuid
        billing_club_id:
          type: string
          format: uuid
          nullable: true
        payment_status:
          type: string
          enum: [unpaid, paid]
        paid_at:
          type: string
          format: date-time
          nullable: true
        paid_by:
          type: string
          nullable: true
        payment_reference:
          type: string
          nullable: true

    OperatorAction:
      type: object
      required: [action, timestamp, deviceId]
      properties:
        action:
          type: string
        timestamp:
          type: string
          format: date-time
        deviceId:
          type: string
        metadata:
          type: object
          additionalProperties: true

    OperatorSyncRequest:
      type: object
      required: [actions]
      properties:
        actions:
          type: array
          maxItems: 1000
          items:
            $ref: '#/components/schemas/OperatorAction'

    OperatorConflict:
      type: object
      required: [id, type, message]
      properties:
        id:
          type: string
          format: uuid
        type:
          type: string
          example: duplicate_link
        message:
          type: string
        details:
          type: object
          additionalProperties: true

    OperatorSyncResponse:
      type: object
      required: [accepted_count, conflicts]
      properties:
        accepted_count:
          type: integer
        conflicts:
          type: array
          items:
            $ref: '#/components/schemas/OperatorConflict'

    OperatorConflictListResponse:
      type: object
      required: [data, pagination]
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/OperatorConflict'
        pagination:
          $ref: '#/components/schemas/Pagination'

    ExportJobCreated:
      type: object
      required: [jobId]
      properties:
        jobId:
          type: string
          format: uuid

    JobStatusResponse:
      type: object
      required: [status]
      properties:
        status:
          type: string
          enum: [pending, processing, completed, failed]
        downloadUrl:
          type: string
          nullable: true
        error:
          type: string
          nullable: true

    PublicVersionsResponse:
      type: object
      required: [draw_revision, results_revision]
      properties:
        draw_revision:
          type: integer
          minimum: 0
        results_revision:
          type: integer
          minimum: 0

    OAuthTokenRequest:
      type: object
      required: [grant_type, refresh_token]
      properties:
        grant_type:
          type: string
          enum: [refresh_token]
        refresh_token:
          type: string

    OAuthTokenResponse:
      type: object
      required: [access_token, token_type, expires_in]
      properties:
        access_token:
          type: string
        token_type:
          type: string
          example: Bearer
        expires_in:
          type: integer
        refresh_token:
          type: string
          nullable: true
